@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  background-color: floralwhite;
  font-family: "Poppins", sans-serif;
  color: #333333; }

header nav ul li a {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; }
  header nav ul li a:hover {
    color: black;
    font-size: large; }

.grid-destacados {
  justify-content: space-around;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-template-areas: "destacado1 destacado2 destacado3 destacado4";
  animation: fadeIn 2s; }
  .grid-destacados .destacado1 {
    grid-area: destacado1; }
  .grid-destacados .destacado2 {
    grid-area: destacado2; }
  .grid-destacados .destacado3 {
    grid-area: destacado3; }
  .grid-destacados .destacado4 {
    grid-area: destacado4; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

h2 {
  font-weight: bolder;
  text-align: center;
  color: #333333;
  background-color: floralwhite; }

.p {
  font-size: 21px;
  justify-content: center; }
  .p p {
    padding-right: 270px;
    padding-left: 270px;
    margin: 0px 0px 31.5px;
    display: flex; }

.boton {
  display: flex;
  justify-content: center; }

.espacio-grande {
  margin-top: 60px; }

footer {
  font-family: "Poppins", sans-serif;
  position: relative;
  bottom: 0; }

.pie {
  color: #333333; }

.pie-contacto {
  position: absolute;
  bottom: 0;
  color: #333333; }

h1 {
  text-align: center;
  animation-name: animacion;
  animation-duration: 1s;
  animation-delay: 0.5s; }

.espacio-medio {
  margin-top: 30px; }

@keyframes animacion {
  10% {
    font-size: 35px; } }

.grid-destacados-1 {
  font-size: smaller;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-areas: "producto1 producto2 producto3 producto4";
  animation: fadeIn 2s; }
  .grid-destacados-1 .producto1 {
    grid-area: producto1; }
  .grid-destacados-1 .producto2 {
    grid-area: producto2; }
  .grid-destacados-1 .producto3 {
    grid-area: producto3; }
  .grid-destacados-1 .producto4 {
    grid-area: producto4; }

.grid-precios-1 {
  font-weight: bolder;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-areas: "precio1 precio2 precio3 precio4";
  animation: fadeIn 2s; }
  .grid-precios-1 .precio1 {
    grid-area: precio1; }
  .grid-precios-1 .precio2 {
    grid-area: precio2; }
  .grid-precios-1 .precio3 {
    grid-area: precio3; }
  .grid-precios-1 .precio4 {
    grid-area: precio4; }

.nosotros {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #333333;
  font-weight: bold;
  animation: fadeIn 7s; }
  .nosotros .animacion1 {
    animation: fadeIn 2s; }

.mapa {
  display: flex;
  justify-content: center; }

.ubicacion {
  background-color: floralwhite; }

form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px black;
  text-align: center; }

.form-title {
  font-size: 2rem;
  margin-bottom: .5rem; }

.form-paragraph {
  font-weight: 300; }

.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em; }

.form-group {
  position: relative;
  --color: #5757577e; }

.form-input {
  width: 100%;
  background: none;
  color: #706e6e;
  font-size: 1rem;
  padding: .6em .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: 'Poppins', sans-serif; }

.form-input:not(:placeholder-shown) {
  color: black; }

.form-input:focus + .form-label, .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: black; }

.form-label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s, color .3s; }

.form-submit {
  background: #333333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: .8em 0;
  border: none;
  border-radius: .5em; }

.form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #333333;
  transform: scale(0);
  transform: left bottom;
  transition: transform .4s; }

.form-input:focus ~ .form-line, .form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1); }

@media screen and (max-width: 500px) {
  h1 {
    font-size: x-large; }
  .p {
    font-size: xx-small;
    justify-content: center; }
    .p p {
      padding-right: 50px;
      padding-left: 50px;
      display: flex; }
  .grid-destacados {
    align-items: center;
    display: grid;
    grid-template-columns: 95px 95px 95px 95px;
    grid-template-areas: "destacado1 destacado2 destacado3 destacado4"; }
  .destacado1 {
    grid-area: destacado1; }
  .destacado2 {
    grid-area: destacado2; }
  .destacado3 {
    grid-area: destacado3; }
  .destacado4 {
    grid-area: destacado4; }
  .grid-destacados-1 {
    font-size: x-small;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-areas: "producto1 producto2 producto3 producto4 "; }
  .producto1 {
    grid-area: producto1; }
  .producto2 {
    grid-area: producto2; }
  .producto3 {
    grid-area: producto3; }
  .producto4 {
    grid-area: producto4; }
  .grid-precios-1 {
    font-size: x-small;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-areas: "precio1 precio2 precio3 precio4"; }
  .precio1 {
    grid-area: precio1; }
  .precio2 {
    grid-area: precio2; }
  .precio3 {
    grid-area: precio3; }
  .precio4 {
    grid-area: precio4; }
  .form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 200px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    text-align: center; }
  .form-title {
    font-size: 1.8rem; } }

@media screen and (min-width: 501px) and (max-width: 900px) {
  .p {
    font-size: small;
    justify-content: center; }
    .p p {
      padding-right: 100px;
      padding-left: 100px;
      display: flex; }
  h1 {
    font-size: xx-large; }
  .grid-destacados {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-areas: "destacado1 destacado2 destacado3 destacado4"; }
  .destacado1 {
    grid-area: destacado1; }
  .destacado2 {
    grid-area: destacado2; }
  .destacado3 {
    grid-area: destacado3; }
  .destacado4 {
    grid-area: destacado4; }
  .grid-destacados-1 {
    font-size: x-small;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    grid-template-areas: "producto1 producto2 producto3 producto4 "; }
  .producto1 {
    grid-area: producto1; }
  .producto2 {
    grid-area: producto2; }
  .producto3 {
    grid-area: producto3; }
  .producto4 {
    grid-area: producto4; }
  .grid-precios-1 {
    font-size: x-small;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-areas: "precio1 precio2 precio3 precio4"; }
  .precio1 {
    grid-area: precio1; }
  .precio2 {
    grid-area: precio2; }
  .precio3 {
    grid-area: precio3; }
  .precio4 {
    grid-area: precio4; }
  .form {
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px black;
    text-align: center; }
  .form-title {
    font-size: 1.8rem; } }
