@import "../sass2/extend";
@import "../sass2/mixins";
@import "../variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    
}

body {
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    @include centrado-fondo-color;
}

header{
    @extend .header-footer;
    nav{
        @include flexibilizar-central;
        a{
            @include estilos-de-ancla;
        }
    }
}