.nosotros{
@include centrado-fondo-color;
    animation: fadeIn 7s;
    .animacion1{
        animation: fadeIn 2s;
    }
}

.mapa{
    display: flex;
    justify-content: $centrado;
}

.ubicacion{
    background-color: $fondo;
}